version: '3.8'

services:
  # 1. SERVİS: VERİTABANI (PostgreSQL)
  velora_db:
    image: postgres:15
    container_name: velora-db
    environment:
      - POSTGRES_USER=velora
      - POSTGRES_PASSWORD=velorapass
      - POSTGRES_DB=veloradb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # İstersen yerel bilgisayardan da bağlanabil diye
    restart: unless-stopped

  # 2. SERVİS: BACKEND (Python FastAPI)
  velora_api:
    build: .
    container_name: velora-backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    # Veritabanı bağlantı bilgisini buraya environment olarak veriyoruz
    environment:
      - DATABASE_URL=postgresql://velora:velorapass@velora_db/veloradb
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - velora_db # Veritabanı başlamadan backend başlamasın
    restart: unless-stopped

  # 3. SERVİS: FRONTEND (Nginx)
  velora_frontend:
    image: nginx:alpine
    container_name: velora-frontend
    ports:
      - "80:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
    depends_on:
      - velora_api

volumes:
  postgres_data:
